<h1>
    <center><u>RESUME</u></center>
</h1>
<h3>
    NAME: {{first_name}} {{last_name}} <br>
    ADDRESS: {{address}} <br>
    E-mail: {{mail}}<br>
    Ph_no:{{ph_no}}
</h3> 
<h2>EDUCATIONAL QUALIFICATION:</h2>
<hr>
<center>
<table border='1' width='75%%' height='70%'>
    <tr>
        <th>QUALIFICATION</th>
        <th>UNIVERSITY/COLLEGE</th>
        <th>YEAR OF PASSING</th>
        <th>PERCENTAGE</th>
    </tr>
    <tr>
        <td>M.C.A</td>
        <td>ADITYA COLLEGE OF ENGINEERING AND TECHNOLOGY</td>
        <td>2021-2023</td>
        <td>77</td>
    </tr>
    <tr>
        <td>B.Sc(Computer Science)</td>
        <td>SRR DEGREE COLLEGE</td>
        <td>2017-2020</td>
        <td>82</td>
    </tr>
    <tr>
        <td>M.P.C</td>
        <td>GOVT.JR COLLEGE</td>
        <td>2015-2017</td>
        <td>83</td>
    </tr>
    <tr>
        <td>S.S.C</td>
        <td>Z.P.P.H SCHOOL</td>
        <td>2014-2015</td>
        <td>85</td>
    </tr>
</table>
</center>